*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    margin: 0px;
    box-sizing: border-box;
}
.title {
    margin-top: -45px;
    text-align: center;
    color: lightgray;
    font-size: 3em;
    text-align: center;
}
.bg-image {
    align-items: center;
    display: flex;
    background-image: url(.//assets/esports-bg.webp);
    height: 70vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
}
.intro{
    background-color: hsl(0, 0%, 83%);
    padding: 50px;
    width: 50%;
    flex: 0 0 50%;
}
.row img {
    width: 50%;
    flex: 0 0 50%;
}
.h2-intro{
    text-align: center;
    

}

.margin-top {
    margin-top: 15px;
}

.container {
    width: min(100%, 1300px);
    margin: 0 auto;
    align-items: center;
    padding-top: 15px;
    font-size: 2.50ch;
    text-align: center;
}

.row {
    display: flex;  
    gap: 15px;
}
